* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}
main {
    min-height: calc(100vh - 60px); 
    flex: 1; 
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, #002553 60%, black);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    margin-right: 35px;
    max-width: 120px;
    margin-top: 10px;
}

ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

li {
    list-style-type: none;
}

li a {
    margin-left: 50px;
    margin-right: 50px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.10);
    transition: all ease-in-out 0.2s;
}
.financial-math {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 22%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.card i {
    color: #190aec;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 20px;
    color: rgba(0, 37, 83, 0.8);
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


h2 {
    color: rgba(0, 37, 83, 0.8);
    text-align: center;
    margin-top: 40px;
}

.intro, .resources {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features, .resource-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature, .resource-item {
    text-align: center;
    width: 30%;
}

.feature img, .resource-item img {
    max-width: 80px;
    margin-bottom: 10px;
}

.cta-button {
    display: block;
    margin: 30px auto;
    background-color: rgba(0, 37, 83, 0.8);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #00796b;
}
.resources {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.resources h2 {
    color: rgba(0, 37, 83, 0.8);
    font-size: 30px;
    margin-bottom: 10px;
}

.resources p {
    color: #666;
    font-size: 20px;
    margin-bottom: 30px;
}

.resource-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.resource-item {
    display: flex;
    align-items: center;
    width: 45%;
    margin-bottom: 20px;
}

.resource-item i {
    color: rgba(0, 37, 83, 0.8);
    margin-right: 20px;
}

.resource-item h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.resource-item p {
    font-size: 17px;
    color: #666;
    line-height: 1.6;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #2a9d8f;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: gray;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px; /* Mantém o espaçamento entre colunas */
    padding: 20px;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px; /* Espaçamento entre vídeos em linhas diferentes */
    transition: transform 0.2s; /* Efeito suave ao passar o mouse */
}

.video:hover {
    transform: scale(1.02); /* Efeito de zoom ao passar o mouse */
}

.video iframe {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.video a {
    display: block; /* Faz com que o link ocupe toda a área do vídeo */
    text-decoration: none; /* Remove o sublinhado padrão */
    color: inherit; /* Herda a cor do texto do pai */
    transition: transform 0.2s, box-shadow 0.2s; /* Suave ao passar o mouse */
    font-size: 22px;
}

iframe {
    width: 100%;
    height: 100%; /* Altera a altura para ocupar o espaço do vídeo */
    border: none;
    border-radius: 4px;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px;
    background: linear-gradient(360deg, #002553 45%, rgb(0, 0, 0));
    border-top: 2px solid white;
}

footer img {
    margin: 10px;
    filter: invert(1);
}

footer p {
    margin-top: 5px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
}
.financial-math, .resources {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card, .resource-item {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.card {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card i, .resource-item i {
    color: rgba(0, 37, 83, 0.8);
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

/* Media Queries para Responsividade */

@media (max-width: 1200px) {
    .financial-math, .resources {
        flex-direction: column;
        align-items: center;
    }

    .card, .resource-item {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {

    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .financial-math {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .video-grid {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    #backToTop {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    nav {
        height: 250px;
    }
    .logo img {
        margin-right: 0;
        max-width: 100px;
    }

    ul {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    li {
        margin: 10px 0;
    }

    li a {
        margin: 0;
        font-size: 16px;
    }
}