*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 150vh;
    background: linear-gradient(to bottom, #002553, black);
    color: white;
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
}

#caixa-principal {
    width: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    margin-top:20px;
    font-family: Calibri;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

#banners {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.banner {
    width: 200px;
    height: 200px;
    margin: 0 50px;
    border-radius: 100px;
}

#banner1:hover, #banner2:hover, #banner3:hover {
    background-color: red;
    cursor: default;
}

#banner1 {
    background-color: #01FFFF;
}

#banner2 {
    background-color: #01FFFF;
}

#banner3 {
    background-color: #01FFFF;
}

h5 {
    color: black;
    font-family: Calibri;
}

#gerenc-icon {
    width: 80px;
    margin: 5px 60px;
}

#sim-icon {
    width: 80px;
    margin: 5px 60px;
}

#edu-icon {
    width: 80px;
    margin: 5px 60px;
}

.mini-title {
    font-weight: 800;
    text-align: center;
}

.mini-text {
    font-weight: 400;
    text-align: center;
}

#mini-title-gerenc {
    margin: 0 30px;
}

#mini-text-gerenc {
    margin: 2px 25px;
}

#mini-title-sim {
    margin: 0 38px;
}

#mini-text-sim {
    margin: 2px 25px;
}

#mini-title-edu {
    margin: 0 15px;
}

#mini-text-edu {
    margin: 2px 25px;
}

#links {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 900px;
}

.link {
    text-align: center;
}

#frases {
    margin-top: 50px;
}

.frase {
    list-style-type: none;
    margin-bottom: 10px;
}