*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 110vh;
    background: linear-gradient(to bottom, #002553, black);
    color: white;
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
}

#caixa-principal {
    width: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    margin-top:20px;
    font-family: Calibri;
}

.banner {
    width: 200px;
    height: 200px;
    margin: 0 50px;
    border-radius: 100px;
}

#banners {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#banner1 {
    background-color: #19fff4;
}

#banner2 {
    background-color: #ffffff;
}

#banner3 {
    background-color: #19fff4;
}

ul {
    margin-top: 50px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

#edu-icon {
    width: 80px;
    margin: 5px 58px;
}

h5 {
    color: black;
    margin-left: 15px;
    font-family: Calibri;
}

#mini-text {
    font-weight: 200;
}