/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    background: linear-gradient(to bottom, #002553, black);
    font-family: Poppins;
    color: white;
    line-height: 1.6;
    padding: 20px;
    text-align: center; /* Para centralizar o texto globalmente */
}

/* Mantém o main centralizado horizontalmente */
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Alinha os itens na vertical */
}

#caixa-principal {
    width: 60%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#caixa-principal img {
    width: 300px;
}

h1:last-of-type {
    margin-top: 20px;
}

.texto {
    max-width: 600px;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #00FFFF;
    font-weight: bold;
}

p {
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
}

h2 {
    font-size: 1.8em;
    color: #00FFFF;
    margin-top: 40px;
}

/* Centraliza os banners */
#banners {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 30px;
}

.caixa-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner {
    width: 220px;
    height: 320px;
    border-radius: 12px;
    padding: 15px;
    background: rgba(0, 37, 83, 0.8);
    border: 3px solid #00FFFF;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}
    
#banner1 {
    margin-right: 5px;
}

a span {
    color: rgba(0, 37, 83, 0.8);
}

.banner:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00FFFF;
}

.banner i {
    margin-bottom: 15px;
    color: #00CED1;
}

.mini-title {
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.mini-text {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}

.link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #00FFFF;
    color: black;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: #00CED1;
    color: white;
}

ul {
    margin-top: 40px;
    list-style-type: none;
    text-align: center;
}

li {
    margin: 20px 0;
    font-size: 18px;
}

#li1, #li3, #li5 {
    color: #00FFFF;
}

#li2, #li4 {
    color: white;
    font-style: italic;
}
